@charset "utf-8";
/* CSS Document */

body {
	font-family:"Roboto", sans-serif;
	font-size: 1.8rem;
    color: #3F3F3F;
    text-decoration: none;
	font-weight:100;
	background:#FFFFFF;
}

#toTop {

}

img#up-btn {
	width:50px;
	height:50px;
	float:right;
	position:fixed;
	right:25px;	
	bottom:25px;
	z-index:2;
}

img#up-btn:hover {
	background-image:url(images/up-btn%20active.png);
}


/*NAVBAR*/

li {
	font-size:1.5em !important;
	
}
.nav a {
	color:#3F3F3F;
	font-weight:200;
}
.nav a:hover {
	color:#258BFD !important;
	font-weight:400 !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: rgba(255,255,255,0.5) !important
}

div.sidebar {
	display:inline;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: right;
}

li#current {
	font-weight:400;
}

#white-navbar {
	background-color:rgba(255,255,255,0.9) !important;
	height:50px !important;
	z-index:4;
}

li#donate {
	background:#FDD706;
	height:50px
}

#donate:hover {
	background-color:rgba(255,255,255,0.5) !important;
	color:#000000 !important;	
}

img#icon {
	width:250px;
	height:auto;
	position:absolute;
	top:3px;
	left:15px;
}

img#icon:hover {

}
/** carousel **/

img.carousel-img {
	width:100% !important;
	height:70% !important;
	position:relative;
}

.carousel-control.right, .carousel-control.left { 
	filter:none !important;
}

.carousel-caption {
	position:absolute;
	top:45%;
	color:#FFFFFF;
	text-align: center;
}

.title h1 {
	font-size: 1em;
}

.btn:hover {
	
	background-color:#FDD706;
	color:#FFFFFF;
}

/** animated boxes **/





/**about section**/
a.about-title{
	color:#404040;
}

a.about-title:hover {
	color:#404040 !important;
	text-decoration: none;
}

#about-left {
	width:50%;
	height:600px;
	background:
		linear-gradient(
		rgba(85,155,195, 0.2),
		rgba(85,155,195, 0.2)
		),
		url(images/future.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
	float:left;
	color:#FFFFFF;
	margin-right:-50%;
	transition: width 0.6s;
    -moz-transition: width 0.6s; /* Firefox 4 */
    -webkit-transition: width 0.6s; /* Safari and Chrome */
    -o-transition: width 0.6s; /* Opera */
    -ms-transition: width 0.6s; /* IE9 (maybe) */
}

#about-left:hover + #about-right {
	width:30%;
	background-image:url(images/ccs people.jpg);
	position:relative;
	z-index:2;
}

#about-left:hover {
	width:70%
}

#about-right:hover {
	width:70%
}

#left-img {
	height:100%;
	float:right;
	width:auto;
	display:none;
}

#about-left-text, #about-right-text {
	color:#FFFFFF;
	background-color: rgba(32,32,32,0.8);
	padding: 1em;
	font-weight:500;
	font-size:20px;
	margin:30px;
	width:auto;
	display:none;
	overflow: hidden;
}

#about-right:hover > #about-right-text {
	display:block;
}

#about-left:hover > #about-left-text {
	display:block;
}

#about-right {
	background-image: url("images/ccs people.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	float:right;
	width:50%;
	height:600px;
	transition: width 0.6s;
    -moz-transition: width 0.6s; /* Firefox 4 */
    -webkit-transition: width 0.6s; /* Safari and Chrome */
    -o-transition: width 0.6s; /* Opera */
    -ms-transition: width 0.6s; /* IE9 (maybe) */
}

#resting-right {
	background:rgba(255,255,255,0);
	width:50%;
	height:490px;
	position:relative;
	float:right;
	margin-left:-50%;
	z-index:1; 
}

.filter-yellow {
	-webkit-filter: opacity(.2);
  filter: opacity(.2);
}

#resting-right:hover ~ #about-right > #about-right-text {
	display:block;
}

#resting-left:hover~ #about-right {
	width:30%;
}

#resting-right:hover ~ #about-left{
	width:30%;
}

#resting-left:hover ~ #about-right > #left-img {
	position: relative;
}

#resting-right:hover ~ #about-right > #about-heading-right {
	display:none;
}

#about-left:hover > #about-heading-left {
	display:none;
}

#about-title:hover {
	text-decoration: none;
}

#about-left:hover ~ #about-right > #about-heading-right {
	display:none;
}


#resting-right:hover ~ #about-left > #about-heading-left {
	display:none;
}

#resting-right:hover ~ #about-right {
	width:70%;
}

#resting-right:hover ~ #about-left{
	width:30%;
}

#resting-right:hover ~ #about-left > #right-img {
	position: relative;
}

#about-heading-left, #about-heading-right {
	color:#FFFFFF;
	text-align: center;
	padding-top: 4em;
}

/** about cancer section **/

#cancer-main {
	margin-top:1.5em;
	padding: 3em;
}

#cancer{
	color: #3F3F3F;
	
}

a{
	color:#3F3F3F;
	font-weight:200;
}

a:hover{
	text-decoration: none;
	color: #FFFFFF;
}

  /*research*/
#research{
	background: #f9f9f9;
	position: relative;
	margin-top: 2em;
	padding: 1em;
}

#img-circle {
	width: 50%;
	height: 50%;
}
/*why donate*/
#why-donate {
	text-align: center;
}	


blockquote {
  background: #f9f9f9;
  display: inline-block;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*Manisha*/


table {
	border-collapse: collapse;
	padding: 30px;
}

table, td {
	border: 1px solid black;
	background-color: #AAB2B5;
}

#container {
	max-height: 100%;
	max-width: 100%;
	padding-bottom: 100px;
}

ul, li {
	list-style-type: none;
	font-weight: bold;
	font-color: #024E60;
	line-height: 150%;
}

img {
	height: 50%;
	width: 50%;
	position: relative;
	float: right;
}


footer {
	background-color: #Fff000;
	padding: 20px;
}

.box {
	max-width: 375px;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

